{% extends "base.html" %}

{% load static %}

{% block page_header %}
<!-- Push Content Down Page -->
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Overlay for Background Image -->
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>Gins</h2>
                <!-- Gin Category Buttons -->
                {% for c in current_gincategory %}
                    <a class="sorting-button text-decoration-none" href="{% url 'gins' %}?gincategory={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-white rounded-5">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <!-- Sort By Dropdown -->
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-5 border-black">
                                <option value="reset">Sort by...</option>
                                <option value="price_asc">Price (Low to High)</option>
                                <option value="price_desc">Price (High to Low)</option>
                                <option value="name_asc">Name (A-Z)</option>
                                <option value="name_desc">Name (Z-A)</option>
                                <option value="gincategory_asc">Category (A-Z)</option>
                                <option value="gincategory_desc">Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            <!-- Search Bar Results -->
                            {% if search_input or current_gincategory != 'None_None' %}
                                <span class="small"><a href="{% url 'gins' %}" class="sorting-button text-decoration-none">All Gins</a> | </span>
                            {% endif %}
                            {{ gins|length }} Gins{% if search_input %} found for <strong>"{{ search_input }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for gin in gins %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            <!-- Get 'Gin Image' or 'No Image' Image -->
                            {% if gin.image %}
                                <a href="{% url 'gin_detail' gin.id %}">
                                    <img class="card-img-top img-fluid" src="{{ gin.image.url }}" alt="{{ gin.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'gin_detail' gin.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ gin.name }}">
                                </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <!-- Get Gin Information -->
                                <p class="lead mb-0 font-weight-bold">{{ gin.name }}</p>
                                <hr>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left">${{ gin.price }}</p>
                                        {% if gin.gincategory %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted text-decoration-none sorting-button" href="{% url 'gins' %}?gincategory={{ gin.gincategory.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ gin.gincategory.friendly_name }}
                                                </a>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Adding <hr> To Gins on Different Screen Sizes -->
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                    {% endif %}                        
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Back To Top Button -->
    <div class="to-top-button shadow-sm rounded-5 border">
        <a class="to-top-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
        <!-- Back To Top Button JS -->
        {% include 'gins/includes/to_top_button_js.html' %}
        <!-- Sort By Dropdown JS -->
        {% include 'gins/includes/sortby_dropdown_js.html' %}
{% endblock %}
