{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-6 ml-auto">
                <div class="my-5">
                    <h2>
                        <a href="" class="index-button btn btn-lg rounded-5 text-uppercase py-3">Shop</a>
                    </h2>
                    <h2>
                        <a href="" class="index-button btn btn-lg rounded-5 text-uppercase py-3">Recipes</a>
                    </h2>
                    <h2>
                        <a href="" class="index-button btn btn-lg rounded-5 text-uppercase py-3">Blog</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}