{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<!-- Push Content Down Page -->
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Overlay for Background Image -->
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="mb-4 text-center mt-3">Profile</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}
