{% extends "base.html" %}

{% load static %}

{% block page_header %}
<!-- Push Content Down Page -->
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Overlay for Background Image -->
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="mb-4">Basket</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- If the Basket Has Products Display This -->
            {% if basket_products %}
                <div class="table-responsive rounded"></div>
            <!-- If the Basket is Empty Display This -->
            {% else %}
                <p class="lead mb-5">Your basket is empty.</p>
                <a href="{% url 'gins' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>

    
{% endblock %}