html {
    height: 100%;
}

body {
    height: 100%;
}

.title {
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgb(245 43 43 / 50%);
}

.gin-tag {
    height: 50px;
    width: 50px;
}

/* Landing Page Image and Text */
.jumbotron-section {
    background: url('/media/home.jpg') no-repeat top center; 
    background-size: cover;
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.jumbotron-content {
    background-color: #7b7a7464;
    padding: 20px;
    margin: 30px auto;
    max-height: 400px;
    width: 450px;
    box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.42);
}

/* Background Image Overlay */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #fff;
	z-index: -1;
}

hr {
    background-color: #f1b55a;
}

/* Search Bar Placeholder Colour */
input[name='q']::placeholder {
    color: #aab7c4;
}

/* Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Header */
header {
    background-color: #f1b55a;
    box-shadow: 0px 5px 10px 9px rgba(0,0,0,0.42);
}

/* Buttons and Links */
.headline-links:focus,
.headline-links:active,
.headline-links:hover,
.link-button {
    color: #6a040f !important;
}

.continue-button,
.basket-full {
    color: #dc2f02;
}

.headline-links {
    margin: 10px;
    color: #fff;
    min-width: 260px;
    font-size: 3rem; 
}

.to-top-link:focus,
.to-top-link:active,
.to-top-link:hover,
.continue-button:focus, 
.continue-button:active,
.continue-button:hover, 
.basket-full:focus,
.basket-full:active,
.basket-full:hover,
.link-button:focus,
.link-button:active,
.link-button:hover {
    color: #001d3d !important;
    text-decoration: none;
    cursor: pointer;
}

.nav-link-size {
    font-size: 1.5rem;
}

/* Back To Top Button */
.to-top-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.to-top-link {
    color: #dc2f02 !important;
}

/* Gin, Recipe and Blog Cards */
.border-blue {
    border-color: #b5bec7;
}

.name-height {
    min-height: 60px;
}

/* Images */
.recipes,
.gins {
    max-height: 400px;
    height: 250px;
    object-fit: contain;
}

.blog {
    max-height: 200px;
}

.blog-detail,
.gin-detail {
    max-height: 400px;
    object-fit: contain;
}

.recipe-card {
    flex: none;
}

.comment-card {
    padding-top: 0;
}

/* .fake-hr { 
    height: 25px; 
    background: url('/media/fake-hr.png') no-repeat 50% 50%;
    margin: 1em 0; 
    border: 0;
} */

/* Gin, Recipe and Blog Forms */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* -------------------------------- Toasts */
.toast-name {
    color: #6a040f;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Toasts Arrows - From css-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 100px;
}

/* Convenience Classes - Colors From Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.basket-notifications-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Allauth Form CSS */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; 
}

.allauth-form-inner-content input {
    border-color: #b9b6b6;
    border-radius: 5;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.form-check-label {
    color: #000;
}

/* Button */
.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5;
    border: none;
    background-color: #fff;

    /* Bootstrap Button Transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* -------------------------------- Media Queries */
/* Fixed Navbar on Medium Screens and Up  */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 149px;
    }
}

/* Padding Top For Navbar When Collapsed in Mobile View */
@media (max-width: 991px) {
    .header-container {
        padding-top: 80px;
    }
}