html {
    height: 100%;
}

body {
    background: url('/media/home.jpg') no-repeat center center fixed; 
    background-size: cover;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Header */
header {
    background-color: #F1D3A7;
}

/* Header Links */
.logo-link {
    width: fit-content;
    color: #540B0E;
}

.logo-link:hover,
.logo-link:active,
.logo-link:focus {
    color: #540B0E;
}

.nav-link-color {
    color: #A36F5B !important;
}

.nav-link-color:hover,
.nav-link-color:active,
.nav-link-color:focus {
    color: #540B0E !important;
}

.nav-link-size {
    font-size: 1.5rem;
}

/* Buttons */
.index-button {
    margin: 10px;
    color: #fff;
    min-width: 260px;
    font-size: 2rem; 
}

.index-button:hover,
.index-button:active,
.index-button:focus {
    color: #DEBA94;
}

.add-button,
.checkout-button,
.shopping-button,
.to-top-link,
.sorting-button {
    color: #540B0E !important;
}

.add-button:hover,
.add-button:active,
.add-button:focus,
.checkout-button:hover,
.checkout-button:active,
.checkout-button:focus,
.shopping-button:hover,
.shopping-button:active,
.shopping-button:focus,
.to-top-link:hover,
.to-top-link:active,
.to-top-link:focus,
.sorting-button:hover,
.sorting-button:active,
.sorting-button:focus {
    color: #A36F5B !important;
}

/* Back To Top Button */
.to-top-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.remove-item,
.update-link,
.to-top-link {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Fixed Navbar on Medium Screens and Up  */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Padding Top For Navbar When Collapsed in Mobile View */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }
}