<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link-color nav-link-size nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SHOP
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-gins-link">
                <a href="{% url 'gins' %}?gincategory=distilled_gins,sloe_gins,dry_gins,botanical_gins,premium_gins" class="dropdown-item">All Gin</a>
                <a href="{% url 'gins' %}?gincategory=distilled_gins" class="dropdown-item">Distilled Gin</a>
                <a href="{% url 'gins' %}?gincategory=sloe_gins" class="dropdown-item">Sloe Gin</a>
                <a href="{% url 'gins' %}?gincategory=dry_gins" class="dropdown-item">Dry Gin</a>
                <a href="{% url 'gins' %}?gincategory=botanical_gins" class="dropdown-item">Botanical Gin</a>
                <a href="{% url 'gins' %}?gincategory=premium_gins" class="dropdown-item">Premium Gin</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link-color nav-link-size nav-link mr-5" href="#" id="all-recipes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                RECIPES
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-recipes-link">
                <a href="{% url 'view_recipes' %}?recipecategory=distilled_gin_recipes,sloe_gin_recipes,dry_gin_recipes,botanical_gin_recipes,premium_gin_recipes" class="dropdown-item">All Gin Recipes</a>
                <a href="{% url 'view_recipes' %}?recipecategory=distilled_gin_recipes" class="dropdown-item">Distilled Gin Recipes</a>
                <a href="{% url 'view_recipes' %}?recipecategory=sloe_gin_recipes" class="dropdown-item">Sloe Gin Recipes</a>
                <a href="{% url 'view_recipes' %}?recipecategory=dry_gin_recipes" class="dropdown-item">Dry Gin Recipes</a>
                <a href="{% url 'view_recipes' %}?recipecategory=botanical_gin_recipes" class="dropdown-item">Botanical Gin Recipes</a>
                <a href="{% url 'view_recipes' %}?recipecategory=premium_gin_recipes" class="dropdown-item">Premium Gin Recipes</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link-color nav-link-size nav-link mr-5" href="#" id="all-blogs-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                BLOG
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-blogs-link">
                <a href="{% url 'view_blog' %}" class="dropdown-item">All Blog Entries</a>
            </div>
        </li>
    </ul>
</div>