<!-- Amount of Gin From basket.html -->
<form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <!-- Quantity Input Buttons -->
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-sm rounded-5 link-button" 
                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                <span>
                <i class="fas fa-minus fa-sm"></i>
                </span>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input" type="number" 
                name="quantity" value="{{ item.quantity }}" min="1" max="99" 
                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
            <div class="input-group-append">
                <button class="increment-qty btn btn-sm rounded-5 link-button"
                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id}}">
                <span>
                <i class="fas fa-plus fa-sm"></i>
                </span>
                </button>
            </div>
        </div>
    </div>
</form>
<!-- Update Amount Link -->
<a class="link-button update-link"><small>Update</small></a>
<a class="delete-button remove-item float-right" id="remove_{{ item.item_id }}"><small>Remove from basket</small></a>